<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shortly - create cool short urls</title>
</head>

<body>
  <h1>404</h1>
  <h2>The requested URL <span> {{url}} </span> is not found!</h2>
  <p>The URL is propably broken or expired</p>
</body>

</html>